@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

.header {
    position: relative;
    z-index: 5;
    top: 0;
}
h1.a {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 900;
    font-size: 10rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'case' on;
    mix-blend-mode: difference;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.75);
}

h1.b {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'case' on;
    mix-blend-mode: difference;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.75);
}




