@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

$bg-color: #070707;
$dot-color: hsl(256,33,70);
$red: #C90123;
$blue: #007BFF;
$red50: #c901227a;
$blue50: #007bff77;
$dot-size: 1px;
$dot-space: 62px;

*, *::before, *::after {
  box-sizing: border-box;
}
.text-scroller-container {
    transform: skew(5deg, -2.5deg);
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}

.bottom-text-scroller-container {
    transform: skew(5deg, 2.5deg);
    position: absolute;
    height: 100px; 
    width:100%;
    left: 0;
    bottom: 0; 
}

.hero-container {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-width: 4px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-image: linear-gradient(to bottom, $red50, $blue50, transparent) 1;
    background:
        linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
        $dot-color;
    background-size: $dot-space $dot-space;
}

.hero-content {
    position: relative;
}

.hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border: 0px;
    opacity: 60%;
}

h1.a {
    font-family: 'Syne';
    font-style: normal;
    color: white;
    font-weight: 900;
    font-size: 10rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'case' on;
    mix-blend-mode: difference;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.75);
}

h1.b {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 900;
    font-size: 3.5rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'case' on;
    mix-blend-mode: difference;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.75);
}




