@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

.scroll {
  position: relative;
  width: 100%;
  min-height: 60px;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.scroll-left {
  overflow: hidden;
  white-space: nowrap;
  animation: scrollTextLeft 35s infinite linear;
  display: inline-block;
}

.scroll-right {
  overflow: hidden;
  white-space: nowrap;
  animation: scrollTextRight 35s infinite linear;
  display: inline-block;
}

span {
  font-family: 'Syne';
  font-weight: 500;
  font-size: 2.5rem;
  display: inline-block;
  padding: 0;
  -webkit-text-stroke: .5px white;
  color: transparent;
}

@keyframes scrollTextLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollTextRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}