@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');
$bg-color: #070707;
$dot-color: hsl(256, 33, 70);
$red: #C90123;
$blue: #007BFF;
$dot-size: 1px;
$dot-space: 62px;

*,
*::before,
*::after {
  box-sizing: border-box;

}

#webgl-canvas {
  position: absolute;
  inset: 0;
  z-index: -5;
  
}
.moro {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  z-index: 50;
  position: absolute;
}
:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}

h1 {
  font-size: 3.2em;
  line-height: .75;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  float: none;
}