.info {
    padding: 6px 8px;
    width: 100px;
    background: rgba(255, 255, 255, 0.656);
    border-radius: 5px;

  }
  
.legend {
    text-align: left;
    line-height: 18px;
    color: black;
    justify-content: center;
   
}
  
.legend-img {
    object-fit: cover;
}

