@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

$red: #C90123;
$blue: #007BFF;
$red50: #c901227a;
$blue50: #007bff77;

.slideshow-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 100%;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to top, $red50, $blue50, transparent) 1;

}

.slide-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.slide-container::before {
    content: 'SANOTTUA';
    position: absolute;
    top: 25%;

    font-family: 'Syne';
    font-style: normal;
    color: white;
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on, 'case'on;
    mix-blend-mode: difference;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.35);
}

.slideshowDots {
    text-align: center;
    bottom: 0%;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #c901227a;
}