.message-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.msg {
    font-family: 'Syne';
    font-style: normal;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on, 'case'on;
    mix-blend-mode: difference;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.35);
}

.msg::before {
    content: open-quote;
}

.msg::after {
    content: '.'close-quote;
}


.writer {
    font-family: 'Syne';
    font-style: normal;
    color: white;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on, 'case'on;
    mix-blend-mode: difference;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.35);
}

.writer::before {
    content: '-'
}